{% extends 'base.html'%}

{% block body_data %}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">STARWARS API</h1>
         <p class="lead font-weight-normal"> Star Wars universe using open API https://swapi.dev/</p>
          <p class="lead font-weight-normal">Vladislav Kholod's diploma project</p>
      </div>
      </div>
      <div class="product-device box-shadow d-none d-md-block"></div>
      <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
</div>

<div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2>Flask</h2>
            <p>Flask is a lightweight WSGI web application framework. It is designed to make getting started quick and easy, with the ability to scale up to complex applications. It began as a simple wrapper around Werkzeug and Jinja and has become one of the most popular Python web application frameworks.</p>

          </div>
          <div class="col-md-4">
            <h2>PostgreSQL</h2>
            <p>PostgreSQL is a powerful, open source object-relational database system with over 30 years of active development that has earned it a strong reputation for reliability, feature robustness, and performance.</p>

          </div>
          <div class="col-md-4">
            <h2>Bootstrap</h2>
            <p>Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>

          </div>
        </div>

</div>

{% endblock %}
